* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    font-size: 10px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box ;
    -moz-box-sizing: border-box; /* mozilla compatibility */
    -ie-box-sizing: border-box; /* internet explorer */
}
html {
    scroll-behavior: smooth;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}
body {
   /*  min-height: 100vw; */ /* this gives vertical scroll */
   /*  max-height: 100vh; */ /* this works but there is no need */
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
   /*  height: 100vh; */
    display: flex;
    flex-direction: column;
    background-color: rgb(204, 202, 202);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgb(116,116,119);
    background: linear-gradient(90deg, rgba(116,116,119,1) 0%, rgba(9,9,19,1) 56%, rgba(58,64,65,1) 100%);      
}
ul, ol, menu, nav {
    list-style: none;
}
a {
    display: block;
    text-decoration: none;
    font-family: inherit;
    color: inherit;

}
a, button {
    cursor: revert;
}
p a {
    display: inline;
}
img, video, iframe, picture, figure {
    display: block;
    max-width: 100%;
}
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}
form, input, select, textarea, button, label {
    display: block;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}
textarea {
    white-space: revert;
}

h2 {
    font-size: 3rem;
    color: white;
    transition: all 800ms ease-in-out;
}
h2:hover {
    transform: rotateX(360deg);
}
.music-container {
    width: 50%;
    margin: 0 auto;
    margin-top: 10rem;
   /*  height: 650px; */
    border-radius: 1rem;
    padding: 2rem;
    border: 1px solid black;
    box-shadow: 3px 3px 15px black;
    background-color: #1d2d4497;
}
.music-info{
    opacity: 0;
    transform: translateY(0%);
    transition: transform all 500ms ease-in, opacity 0.3s ease-in;
}
.music-container.play .music-info {
    opacity: 1;
    transform: translateY(100%);
}
.img-container {
    width: 350px;
    margin: 0 auto;
}
input #volume-control .volume-control {

    background-color: black;
    color: black;
}
.title {
    font-size: 2rem;
    text-align: center;
    margin-top: -2rem;
    color: white;
}

.cover-img {
    border-radius: 1rem;
    box-shadow: 1px 2px 10px grey;
    transition: all 300ms ease-in-out;
}
.cover-img:hover {
    transform: scale(1.025);
}
.progress-container {
    background-color: #b7bbc2;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 1rem 0;
    height: 0.4rem;
    width: 100%;
}
.progress {
    margin-top: 3rem;
    background-color: #1d1d1c;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}
i {
    font-size: 2.5rem;
}
.fa-sharp {
    color: #b7bbc2;
    font-size: 4rem;

    animation: rotate 3s linear infinite;

    animation-play-state: paused;
}
.music-container.play .fa-compact-disc {

    animation-play-state: running;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    /* margin-left: -3rem; */
    gap: 1rem;
}
button {
    padding: 0.3rem;
    width: 6rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
button:hover {
    background-color: black;
    color: white;
}
.action-btn-big {
    width: 12rem;
    padding: 1rem;
}
.current-time {
    font-size: 1.5rem;
    color: white;
}
footer {
    margin-top: 5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media screen and (width <= 770px) {
    
    .cover-img {
        width: 200px;
        display: block;
        margin: 0 auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .title {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
}
@media screen and (width <= 678px) {
    
    .cover-img {
        margin-left: 3.5rem;
        
    }
}
@media screen and (width <= 525px) {

    .music-container {
        
        margin: 10rem auto;
        width: 80%;  
    }
    
    .cover-img {
        width: 280px;
        
    }
}
@media screen and (width <= 425px) {

    .cover-img {
        width: 250px;
        margin-left: 2rem;
    }
}
@media screen and (width <= 375px) {

    .music-container {
        width: 90%;  
    }
    .cover-img {
        width: 220px;
        margin-left: 2rem;
    }
}
@media screen and (width <= 323px) {

    .cover-img {
        width: 200px;
    }
}


